In [1]:
! pip install nltk -U
! pip install bs4 -U

Requirement already satisfied: nltk in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2023.5.5)
Requirement already satisfied: tqdm in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Requirement already satisfied: bs4 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->bs4) (2.4.1)

In [2]:

import nltk
nltk.download('stopwords') 
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('average_perceptron_tagger')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Prakash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Prakash\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Prakash\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Error loading average_perceptron_tagger: Package
[nltk_data]     'average_perceptron_tagger' not found in index

False

In [3]:
import nltk

In [4]:
para="Rajgad (literal meaning Ruling Fort) is a Hill region fort situated in the Pune district of Maharashtra, India. Formerly known as Murumbdev, the fort was the first capital of the Maratha Empire under the rule of Chhatrapati Shiva ji for almost 26 years, after which the capital was moved to the Raigad Fort.[1] Treasures discovered from an adjacent fort called Torna were used to completely build and fortify the Rajgad Fort."

In [5]:
print(para)

Rajgad (literal meaning Ruling Fort) is a Hill region fort situated in the Pune district of Maharashtra, India. Formerly known as Murumbdev, the fort was the first capital of the Maratha Empire under the rule of Chhatrapati Shiva ji for almost 26 years, after which the capital was moved to the Raigad Fort.[1] Treasures discovered from an adjacent fort called Torna were used to completely build and fortify the Rajgad Fort.

In [6]:
para.split()

['Rajgad',
 '(literal',
 'meaning',
 'Ruling',
 'Fort)',
 'is',
 'a',
 'Hill',
 'region',
 'fort',
 'situated',
 'in',
 'the',
 'Pune',
 'district',
 'of',
 'Maharashtra,',
 'India.',
 'Formerly',
 'known',
 'as',
 'Murumbdev,',
 'the',
 'fort',
 'was',
 'the',
 'first',
 'capital',
 'of',
 'the',
 'Maratha',
 'Empire',
 'under',
 'the',
 'rule',
 'of',
 'Chhatrapati',
 'Shiva',
 'ji',
 'for',
 'almost',
 '26',
 'years,',
 'after',
 'which',
 'the',
 'capital',
 'was',
 'moved',
 'to',
 'the',
 'Raigad',
 'Fort.[1]',
 'Treasures',
 'discovered',
 'from',
 'an',
 'adjacent',
 'fort',
 'called',
 'Torna',
 'were',
 'used',
 'to',
 'completely',
 'build',
 'and',
 'fortify',
 'the',
 'Rajgad',
 'Fort.']

In [7]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [8]:
sent=sent_tokenize(para)
sent[2]

'[1] Treasures discovered from an adjacent fort called Torna were used to completely build and fortify the Rajgad Fort.'

In [9]:
words=word_tokenize(para)


words

['Rajgad',
 '(',
 'literal',
 'meaning',
 'Ruling',
 'Fort',
 ')',
 'is',
 'a',
 'Hill',
 'region',
 'fort',
 'situated',
 'in',
 'the',
 'Pune',
 'district',
 'of',
 'Maharashtra',
 ',',
 'India',
 '.',
 'Formerly',
 'known',
 'as',
 'Murumbdev',
 ',',
 'the',
 'fort',
 'was',
 'the',
 'first',
 'capital',
 'of',
 'the',
 'Maratha',
 'Empire',
 'under',
 'the',
 'rule',
 'of',
 'Chhatrapati',
 'Shiva',
 'ji',
 'for',
 'almost',
 '26',
 'years',
 ',',
 'after',
 'which',
 'the',
 'capital',
 'was',
 'moved',
 'to',
 'the',
 'Raigad',
 'Fort',
 '.',
 '[',
 '1',
 ']',
 'Treasures',
 'discovered',
 'from',
 'an',
 'adjacent',
 'fort',
 'called',
 'Torna',
 'were',
 'used',
 'to',
 'completely',
 'build',
 'and',
 'fortify',
 'the',
 'Rajgad',
 'Fort',
 '.']

In [10]:
from nltk.corpus import stopwords
swords=stopwords.words('english') 
swords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [11]:
x =[word for word in words if word not in swords]


x

['Rajgad',
 '(',
 'literal',
 'meaning',
 'Ruling',
 'Fort',
 ')',
 'Hill',
 'region',
 'fort',
 'situated',
 'Pune',
 'district',
 'Maharashtra',
 ',',
 'India',
 '.',
 'Formerly',
 'known',
 'Murumbdev',
 ',',
 'fort',
 'first',
 'capital',
 'Maratha',
 'Empire',
 'rule',
 'Chhatrapati',
 'Shiva',
 'ji',
 'almost',
 '26',
 'years',
 ',',
 'capital',
 'moved',
 'Raigad',
 'Fort',
 '.',
 '[',
 '1',
 ']',
 'Treasures',
 'discovered',
 'adjacent',
 'fort',
 'called',
 'Torna',
 'used',
 'completely',
 'build',
 'fortify',
 'Rajgad',
 'Fort',
 '.']

In [12]:
import string


string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
t=[word for word in words if word not in string.punctuation]


t

['Rajgad',
 'literal',
 'meaning',
 'Ruling',
 'Fort',
 'is',
 'a',
 'Hill',
 'region',
 'fort',
 'situated',
 'in',
 'the',
 'Pune',
 'district',
 'of',
 'Maharashtra',
 'India',
 'Formerly',
 'known',
 'as',
 'Murumbdev',
 'the',
 'fort',
 'was',
 'the',
 'first',
 'capital',
 'of',
 'the',
 'Maratha',
 'Empire',
 'under',
 'the',
 'rule',
 'of',
 'Chhatrapati',
 'Shiva',
 'ji',
 'for',
 'almost',
 '26',
 'years',
 'after',
 'which',
 'the',
 'capital',
 'was',
 'moved',
 'to',
 'the',
 'Raigad',
 'Fort',
 '1',
 'Treasures',
 'discovered',
 'from',
 'an',
 'adjacent',
 'fort',
 'called',
 'Torna',
 'were',
 'used',
 'to',
 'completely',
 'build',
 'and',
 'fortify',
 'the',
 'Rajgad',
 'Fort']

In [14]:
from nltk import pos_tag

In [34]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (1.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.3 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)

In [35]:
 from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\prakash\appdata\local\programs\python\python311\lib\site-packages (23.1.2)
Note: you may need to restart the kernel to use updated packages.

In [36]:

tfidf=TfidfVectorizer()
v=tfidf.fit_transform(t)


v.shape

(72, 52)

In [37]:
import pandas as pd 
pd.DataFrame(v)

                 0
0     (0, 36)\t1.0
1     (0, 27)\t1.0
2     (0, 30)\t1.0
3     (0, 39)\t1.0
4     (0, 18)\t1.0
..             ...
67     (0, 5)\t1.0
68    (0, 19)\t1.0
69    (0, 42)\t1.0
70    (0, 36)\t1.0
71    (0, 18)\t1.0

[72 rows x 1 columns]